body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    margin: 100px;
    padding: 0%;
}
.login-container{
padding: 10px 20px;
justify-content: center;
align-items: center;
border-radius: 10px;
box-shadow: 0 4px 15px rgba(0,0,0,0.2);
font-size: 25px;
margin-bottom: 15px;
}
button{
    color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-size: 20px;
    cursor:pointer;
    padding: 5x;
    background-color: blue;

}